* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	--cbg1: #c2bebe;
	--cbg2: #476651;
	--cbg3: #8bb97fc9;
	--fc: white;
	--supp-bgc-light: #2dc24d;
	--supp-bgc-dark: #409172;
	--supp-fc: white;
}
